@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
    color: #1F2937;
    margin-bottom: 1rem;
}
h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #374151;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.text-lg-gray {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #4B5563;
    text-align: center;
}
p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #4B5563;
    margin-top: 1.5rem;
}
p:first-of-type {
    margin-top: 0;
}

.error {
    color: rgb(61, 61, 61);
    font-size: 0.8em;
}

.error::before {
    content: "*";
    color: #dc3545;
    margin-right: 5px;
}

@media only screen and (max-width: 767px) {
    h1{
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

.blog ol,
.blog ul {
    margin: 10px 0;
    padding: 0 0 0 20px;
    list-style-type: decimal;
}

.blog li {
    margin-bottom: 5px;
}
